@tailwind base;
@tailwind components;
@tailwind utilities;

.nav {
    /* background-image: url('../public/bg-pattern-intro-mobile.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; */
}

.arrow, .menu {
    transition: transform 0.3s ease;
}

.links {
    background-color: hsla(240, 3%, 79%, 0.24);
}

.links-text{
    color: hsl(240, 1%, 38%);
}

.border-line {
    border-color: hsla(240, 3%, 79%, 0.575);
}

@media (max-width: 640px) {
    .dropdown {
        position: absolute;
        top: 10%;
        left: 5%;
        /* width: 90%; */
        height: max-content;
    }
}


/* aayusin ko na yung kapag big screen desktop design sa navbar */